<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Your Career</title>
    <link rel="stylesheet" href="../static/index2.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <div id = "myHeader">
        <div id = header1>
            <div id = 'headercontent'>
                <a href="E:\c4e22\career_project\templates\home.html" class = header id = "home">HOME</a>
                <a href="E:\c4e22\career_project\templates\personality.html" class = header>PERSONALITY</a>
                <a href="/job" class = header >JOBS</a>
                <a href="/topics" class = header >HOT</a>
                <a href="/story" class = header  id = 'email'>EMAIL US</a>
            </div>
        </div>
    </div>
    <div id = body2>
        <div id = txt>
            <h2><b id = lttxt>Let us help you</b></h2>
            <b id = bigtxt>FIND YOUR CAREER</b>
            <p id = para>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi blanditiis accusamus quod laborum animi repudiandae in minima earum. </p>
            <a href="" id = quiz> <b>TRY THIS OUT</b></a>
        </div>
        <img src="image-5.jpg" alt="FIND YOUR PATH" style="width:600px;height:600px;">
    </div>
    
</body>
</html>