<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index.css">
    <title>Personality</title>
</head>
<body>
    <div id = "myHeader">
        <div id = 'headercontent'>
            <a href="E:\c4e22\career_project\templates\home.html" class = header>Home</a>
            <a href="E:\c4e22\career_project\templates\personality.html" class = header>Personality types</a>
            <a href="/job" class = header >Job descriptions</a>
            <a href="/topics" class = header >Hot topics</a>
            <a href="/story" class = header >Share story</a>
        </div>
    </div>
    <div id = "myBody">
        <div class = "content">
                <b>The Mediator</b>
            <div id = "content_per">
                    <p id = "para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum earum doloribus repellat dolore adipisci soluta error, maxime unde aperiam sit praesentium, quasi eius molestiae nulla quia dolor fugit necessitatibus.</p>
                    <p id = "para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum earum doloribus repellat dolore adipisci soluta error, maxime unde aperiam sit praesentium, quasi eius molestiae nulla quia dolor fugit necessitatibus.</p>
            </div>
        </div>
        <div class = "content">
                <b>The Mediator</b>
                <div id = "content_per">
                        <p id = "para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum earum doloribus repellat dolore adipisci soluta error, maxime unde aperiam sit praesentium, quasi eius molestiae nulla quia dolor fugit necessitatibus.</p>
                        <p id = "para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum earum doloribus repellat dolore adipisci soluta error, maxime unde aperiam sit praesentium, quasi eius molestiae nulla quia dolor fugit necessitatibus.</p>
                </div>
        </div>
        <div class = "content">
                <b>The Mediator</b>
                <div id = "content_per">
                        <p id = "para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum earum doloribus repellat dolore adipisci soluta error, maxime unde aperiam sit praesentium, quasi eius molestiae nulla quia dolor fugit necessitatibus.</p>
                        <p id = "para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum earum doloribus repellat dolore adipisci soluta error, maxime unde aperiam sit praesentium, quasi eius molestiae nulla quia dolor fugit necessitatibus.</p>
                </div>
        </div>
        <div class = "content">
                <b>The Mediator</b>
                <div id = "content_per">
                        <p id = "para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum earum doloribus repellat dolore adipisci soluta error, maxime unde aperiam sit praesentium, quasi eius molestiae nulla quia dolor fugit necessitatibus.</p>
                        <p id = "para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum earum doloribus repellat dolore adipisci soluta error, maxime unde aperiam sit praesentium, quasi eius molestiae nulla quia dolor fugit necessitatibus.</p>
                </div>
        </div>
        <div class = "content">
                <b>The Mediator</b>
                <div id = "content_per">
                        <p id = "para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum earum doloribus repellat dolore adipisci soluta error, maxime unde aperiam sit praesentium, quasi eius molestiae nulla quia dolor fugit necessitatibus.</p>
                        <p id = "para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum earum doloribus repellat dolore adipisci soluta error, maxime unde aperiam sit praesentium, quasi eius molestiae nulla quia dolor fugit necessitatibus.</p>
                </div>
        </div>
    </div>
</body>
</html>